# 1. まずすべてのファイル・ディレクトリを除外
*

# 2. ディレクトリ自体を除外してしまうと中のファイルも除外されてしまうため、
#    ディレクトリの探索は許可（除外対象から外す）
!*/

# 3. コミットを許可したい拡張子を個別に指定
!*.txt
!*.md
!*.csu
!*.tsv
!*.html
!*.js
!*.csv

# (.gitignore 自体も Git で管理する場合は以下も追記)
!*.gitignore